<h3>Sign Up</h3>
<form method="POST">
    <div class="mb-5">
        <div class="form-group" style="text-align: left;">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
        </div>
    </div>
    <div class="mb-5">
        <div class="form-group" style="text-align: left;">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Signup</button>
</form>