<div class="col-xs-12 comment-indent">
    <p>{{comment.content}}</p>
    <p class="text-right">{{comment.author.username}}</p>
    <a href="/posts/{{postId}}/comments/{{comment._id}}/replies/new"><button type="button" class="btn btn-primary">Reply</button></a>
    {{#each comment.comments}}
        {{> comment comment=this currentUser=currentUser postId=../postId}}
    {{/each}}
</div>